{% include "adminheader.html" %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center" >Fill Form Below</h3>
                </div>
                <div class="card-body">
                    <p style="color:red">{{ msg }}</p>
                    <form action="/addemployee" method="POST">
                          <input type="text" name="id" placeholder="Enter employment id "class="form-control"> <br>
                        <input type="text" name="fname" placeholder="Your First Name" class="form-control"><br>
                        <input type="text" name="lname" placeholder="Your Last Name"class="form-control"><br>
                        <input type="email" name="email" placeholder="Your Email Address"class="form-control"><br>
                        <input type="password" name="password" placeholder="Enter a Password"class="form-control"><br>
                        <input type="submit" value="Register" class="btn btn-primary" >

                    </form>
                </div>
            </div>
        </div>
         <div class="col-md-2">

        </div>

    </div>
</div>
<br>
{% include "footer.html" %}