{% include "adminheader.html" %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">Posting  Opportunity Form</h5>
                </div>
                <div class="card-body">
                    <p style="color:red">{{ msg }}</p>
                    <form action="/posting" method="POST">
                        <lable>Opportunities</lable>
                        <select name="opportunity" class="form-control">
                            <option>Network Security</option>
                            <option>Software Development</option>
                             <option>Databases Management</option>
                            <option>Cyber Security</option>
                        </select><br>
                        <lable> Amount </lable>
                        <select name="amount" class="form-control">
                            <option>20000</option>
                            <option>25000</option>
                             <option>30000</option>
                            <option>35000</option>
                        </select><br>
                         <lable> Stage </lable>
                        <select name="stage" class="form-control">
                            <option>Discovery</option>
                            <option>Proposal</option>
                             <option>Shared</option>
                            <option>Negotiations</option>
                        </select><br>

                        <input type="submit" value="Submit" class="btn btn-primary" >

                    </form>
                </div>
            </div>
        </div>
         <div class="col-md-2">

        </div>

    </div>
</div>
<br>
{% include "footer.html" %}