{% include "adminheader.html" %}
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h5>Update the form below</h5>
            <h5 class="text-success">{{ msg }}</h5>
        </div>
        <div class="card-body">
            <form action="/perform-post" method="POST">
                {% for row in result %}
                <input type="text" name="opportunity" value="{{ row[1] }}" class="form-control" ><br>
                <input type="text" name="amount"  value="{{ row[2] }}" class="form-control" ><br>
                <input type="text" name="stage"  value="{{ row[3] }}" class="form-control" ><br>
                <input type="hidden" name="id" value="{{ row[0] }}"/>
                <input type="submit" value="Update posted"><br><br>
                {% endfor %}
            </form>
        </div>
    </div>
</div><!-- the container ends here -->
<br>
{% include "footer.html" %}
